aioquic==1.3.0
anyio==4.11.0
apparmor==4.1.2
appdirs==1.4.4
argcomplete==3.6.2
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.4.0
asttokens==3.0.1
async-lru==2.0.5
attrs==25.4.0
autocommand==2.2.2
Automat==25.4.16
babel==2.17.0
backports.entry_points_selectable==1.3.0
backports.tarfile==1.2.0
bcrypt==4.3.0
beautifulsoup4==4.14.2
bleach==6.2.0
Brlapi==0.8.7
brotli==1.2.0
buildozer==1.5.1.dev0
cepces==0.3.9
certifi==2025.10.5
cffi==2.0.0
charset-normalizer==3.4.4
click==8.3.1
cmdln==2.0.0
comm==0.2.3
configobj==5.0.9
constantly==23.10.4
contourpy==1.3.3
createrepo_c==1.2.1
cryptography==46.0.2
cssselect==1.3.0
cupshelpers==1.0
cycler==0.12.1
Cython==0.29.37
dasbus==1.7
debugpy==1.8.17
decorator==5.2.1
defusedxml==0.7.1
dnspython==2.8.0
docutils==0.22.3
executing==2.2.1
fastjsonschema==2.21.2
faust-cchardet==2.1.19
filetype==1.2.0
fonttools==4.59.1
fqdn==1.5.1
freetype-py==2.5.1
fs==2.4.16
Genshi==0.7.9
gevent==25.9.1
gmpy2==2.1.5
greenlet==3.2.4
gssapi==1.10.1
h11==0.16.0
h2==4.3.0
hpack==4.1.0
html5lib==1.1
httpcore==1.0.9
httpx==0.28.1
hyperframe==6.1.0
hyperlink==21.0.0
idna==3.11
importlib_metadata==8.0.0
incremental==24.7.2
inflect==7.3.1
ipykernel==6.31.0
ipyparallel==9.0.1
ipython==8.37.0
ipywidgets==8.1.7
isoduration==20.11.0
jaraco.collections==5.1.0
jaraco.context==5.3.0
jaraco.functools==4.0.1
jaraco.text==3.12.1
jedi==0.19.2
Jinja2==3.1.6
json5==0.12.1
jsonpointer==3.0.0
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
jupyter==1.1.1
jupyter-console==6.6.3
jupyter-events==0.12.0
jupyter-lsp==2.2.6
jupyter_client==8.6.3
jupyter_core==5.8.1
jupyter_server==2.16.0
jupyter_server_terminals==0.5.3
jupyterlab==4.4.9
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
jupyterlab_widgets==3.0.15
Kivy==2.3.1
kiwisolver==1.4.9
LibAppArmor==4.1.2
louis==3.35.0
lxml==6.0.2
markdown-it-py==3.0.0
MarkupSafe==3.0.3
matplotlib==3.10.7
matplotlib-inline==0.1.7
maturin==1.10.2
mdurl==0.1.2
mistune==3.1.4
more-itertools==10.3.0
mpmath==1.3.0
munkres==1.1.4
nbclient==0.10.0
nbconvert==7.16.6
nbformat==5.10.4
nest_asyncio==1.6.0
nftables==0.1
notebook==7.4.4
notebook_shim==0.2.4
notify2==0.3.1
numpy==2.3.3
olefile==0.47
opi==5.9.0
overrides==7.7.0
packaging==25.0
pandocfilters==1.5.1
parso==0.8.5
pexpect==4.9.0
pillow==12.0.0
pipx==1.7.1
Pivy==0.6.9
platformdirs==4.5.0
ply==3.11
prometheus_client==0.21.1
prompt_toolkit==3.0.52
psutil==7.1.3
ptyprocess==0.7.0
pure_eval==0.2.3
pyasn1==0.6.1
pyasn1_modules==0.4.2
pyasynchat==1.0.4
pyasyncore==1.0.4
pycairo==1.28.0
pycares==4.11.0
pycparser==2.23
pycups==2.0.4
pycurl==7.45.6
pyenchant==3.2.2
pyftpdlib==2.0.1
pygdbmi==0.11.0.0
Pygments==2.19.2
PyGObject==3.54.5
pyinotify==0.9.6
pylsqpack==0.3.20
pyOpenSSL==25.3.0
pyparsing==3.2.3
PyQt5==5.15.10
PyQt5_sip==12.16.1
pyrsistent==0.20.0
pysendfile==2.0.1
PySide6==6.10.0
pysmbc==1.0.25.1
PySocks==1.7.1
python-dateutil==2.9.0.post0
python-json-logger==2.0.7
python-linux-procfs==0.7.3
pytz==2025.2
pyudev==0.24.4
PyYAML==6.0.3
pyzmq==27.1.0
referencing==0.37.0
reportlab==4.4.4
requests==2.32.5
requests-gssapi==1.3.0
rfc3339_validator==0.1.4
rfc3986_validator==0.1.1
rich==14.2.0
rpds-py==0.27.1
rpm==4.20.1
scipy==1.16.2
selinux @ file:///home/abuild/rpmbuild/BUILD/libselinux-bindings-3.9-build/libselinux-3.9/src
Send2Trash==1.8.3
sepolicy @ file:///home/abuild/rpmbuild/BUILD/policycoreutils-3.9-build/policycoreutils-3.9/sepolicy
service-identity==24.2.0
setools==4.6.0
setuptools==78.1.1
shiboken6==6.10.0
simplejson==3.20.2
six==1.17.0
sniffio==1.3.1
soupsieve==2.8
stack_data==0.6.3
sympy==1.13.3
termcolor==2.5.0
terminado==0.18.1
tinycss2==1.4.0
tomli==2.0.1
tornado==6.5
tqdm==4.67.1
traitlets==5.14.3
Twisted==25.5.0
typeguard==4.3.0
typing_extensions==4.15.0
tzdata==2025.2
ufoLib2==0.17.1
unicodedata2==16.0.0
uri-template==1.3.0
urllib3==2.5.0
userpath==1.9.2
vtk==9.5.2
wcwidth==0.2.14
webcolors==24.8.0
webencodings==0.5.1
websocket-client==1.9.0
wheel==0.45.1
widgetsnbextension==4.0.14
zipp==3.19.2
zope.event==5.0
zope.interface==7.2
zopfli==0.2.3.post1
zstandard==0.25.0
