{% extends 'base.html' %}

{% block title %}
    Login
{% endblock %}

{% block needs %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}

{% block header %}
    <h1>Login</h1>
{% endblock %}

{% block content %}
    <script src="{{ url_for('static', filename='js/form.js') }}"></script>
    <form name="login" method="post">
        <label for="email">E-mail</label>
        <input name="email" id="email" oninput="validateForm()">
        <label for="password" >Password</label>
        <input type="password" name="password" id="password" oninput="validateForm()">
        <input type="submit" value="Log In" disabled>
        <div class="or">
            <hr>
            <p>OR</p>
            <hr>
        </div>
        <a href="{{ url_for('google.portal_google') }}"><img src="{{ url_for('static', filename='image/google-icon.png') }}" alt="Google Logo">Sign in with Google</a>
    </form>
{% endblock %}