form {
    border: 4px solid #b0b0b0;
    border-radius: 1rem;
    display: flex;
    flex-flow: column nowrap;
    margin: 3rem auto;
    padding: 3rem;
    width: 50%;
}

form a {
    align-items: center;
    background-color: #fff;
    border: 2px solid #fff;
    border-radius: 1rem;
    color: #0e0b16;
    font-size: 1.1rem;
    display: inline-flex;
    padding: 1rem;
    text-decoration: none;
}

form a img {
    height: 2rem;
    width: 2rem;
    margin-right: 2rem;
}

form a:hover {
    background-color: #0e0b16;
    color: #fff;
}

form a:active {
    opacity: 0.75;
}

form input {
    background-color: #0e0b16;
    border: 2px solid #b0b0b0;
    border-radius: 1rem;
    color: #fff;
    margin: 1rem 0;
    padding: 1rem;
}

form input[type="submit"] {
    background-color: #8f00ff;
    border-color: #8f00ff;
    font-size: 1.1rem;
}

form input[type="submit"]:disabled {
    background-color: #8f00ff;
    border-color: #8f00ff;
    opacity: 0.5;
}

form input[type="submit"]:hover:enabled {
    background-color: #0e0b16;
    color: #8f00ff;
}

form input[type="submit"]:focus:enabled {
    border-color: #8f00ff;
    opacity: 0.75;
}

form input:focus {
    border-color: #fff;
    outline: none;
}

form label {
    font-size: 1.1rem;
}

header {
    align-items: center;
    display: flex;
    justify-content: center;
}

header h1 {
    font-size: 4rem;
}

.or {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 2.5rem 0;
}

.or hr {
    flex-basis: 45%;
}

.or p {
    display: inline;
}