article {
    margin: 0 auto;
    width: 50%;
}

h1, h2, h3 {
    margin: 1.5rem;
    text-align: center;
}

h1 {font-size: 1.75rem;}

h2 {font-size: 1.25rem;}

h3 {font-size: 1.125rem;}

hr {
    background: none;
    border-width: 0.125rem;
    margin: 0 25%;
    position: absolute;
    width: 50%;
}

li {margin: 0.4rem 0;}

main section a {
    color: #8f00ff;
    text-decoration: underline;
}

main section a:hover {
    cursor: pointer;
    opacity: 0.5;
}

main section a:active {color: #fff;}

ol, p, ul {margin: 0.6rem 0;}

ol, ul {
    margin: 0.6rem auto;
    width: 90%;
}

section {padding: 3rem 0;}

#back-image {
    background-image: url("/static/image/logo.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 40rem;
}

#back-shadow {
    align-items: center;
    background-color: rgba(14, 11, 22, 0.4);
    display: flex;
    justify-content: center;
    height: 100%;
}

#head-title {
    background-color: rgba(14, 11, 22, 0.27);
    display: inline-block;
    padding: 1rem 4rem;
}

#head-title h1 {font-size: 6rem;}

#head-title p {
    font-size: 2.5rem;
    font-style: italic;
}

#overview, #table-of-contents {
    background-color: #b0b0b0;
    color: #0e0b16;
}

#overview {border-top: none;}

#overview h1 {font-size: 3rem;}

#overview p, #overview strong {font-size: 1.5rem;}

#table-of-contents h1 {font-size: 2rem;}

#table-of-contents a, #table-of-contents li, #table-of-contents p {font-size: 1.25rem;}

@media only screen and (max-width:629px) {
    article {
        margin: 0 auto;
        width: 80%;
    }

    hr {
        margin: 0 10%;
        width: 80%;
    }
}

@media only screen and (max-width:410px) {
    #head-title h1 {font-size: 4rem;}

    #head-title p {
        font-size: 1.75rem;
        font-style: italic;
    }
}