<!doctype html>
<title>{% block title %}{% endblock %} - Gymmate</title>
<link rel="icon" href="{{ url_for('static', filename='logo-backless.png') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
{% block needs %}{% endblock %}
<nav>
    <div class="logo">
        <img src="{{ url_for('static', filename='logo-backless.png') }}" alt="gymmate logo">
        <h1><strong>Gym</strong>mate</h1>
    </div>
    <ul>
        <li><a>Home</a></li>
        <li><a href="{{ url_for('portal.tos') }}">Terms of Service</a></li>
        <li><a href="{{ url_for('portal.privacy') }}">Privacy Policy</a></li>
        {% if g.user %}
            <li><a>[Name]</a></li>
        {% else %}
            <li><a href="{{ url_for('portal.login') }}">Login</a></li>
        {% endif %}
    </ul>
</nav>
<section>
    <header>
        {% block header %}{% endblock %}
    </header>
    {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
    {% endfor %}
    <section>
        {% block content %}{% endblock %}
    </section>
    <footer>
        <ul>
            <li><a href="{{ url_for('portal.privacy') }}">Privacy Policy</a></li>
            <li><a href="{{ url_for('portal.tos') }}">Terms of Service</a></li>
            <li><a>Contact</a></li>
            <li><a>Transparency</a></li>
        </ul>
    </footer>
</section>